/*nav bar customisations*/
nav {
	background-color: #582C83;
    height: 79px;
}

@media only screen and (max-width : 448px) {
    nav {
        height: 140px;
    }
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 64px;
    line-height: 69px;
}

nav form {
    height: 100%; 
}

nav .input-field {
    margin: 0;
    height: 100%;
}

nav ul li {
	height:64px;
}

nav ul a {
    line-height: 69px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.view {
    position: absolute;/*Sets the view*/
    top:69px;
    left: 0;
    width: 100%;
    transition: 300ms;   
}
.view.ng-enter{
  left: -100%;
  transition: 1s; /*Slowly pulls in the next view*/ 
}

.view.ng-enter.ng-enter-active{
  left: 0%; /*Moves next view to the center*/
}

.view.ng-leave{
  left: 0%; 
  transition: 0s; /*Removes current view straight away*/
}
view.ng-leave.ng-leave-active{
  left: 100%;  /*Moves last view to the left*/
}

.brand-colour {
	background-color: #582C83;
}

.material-icons.md-48 { font-size: 38px; }
@media only screen and (min-width: 991px) {
.material-icons.md-48 { font-size: 68px; }
}

.popover button:focus {
  text-decoration: none;
  outline:none;
  border: none;
  box-shadow: none;
}

.popover button:active:focus {
  text-decoration: none;
  outline:none;
  border: none;
  box-shadow: none;
}

.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
}

.popover [data-role="end"] { display: none; }
#step-4.popover [data-role="end"] { display: block; }

/*Logo customisations*/
.navbar-brand {
    float: left;
    padding: 12px 10px;
    height: 64px;
}

.navbar-brand img {
    float: left;
    margin-top: -6px;
    height: 54px;
    width: 225px;
}
@media only screen and (max-width: 600px) {
.navbar-brand img {width: 165px;}
.nav {height: 150px;}
}
/*Creates padding between sides of screen and main ng-view. Used on index page*/
.page-spacer {
	padding: 0 15px;
}

 /*Moves notes to the left when creating responses*/
 .row .col.s11 {
 	margin-left:0;
 }

 .card {
 	border-top-right-radius: 10px;
 	border-top-left-radius: 10px;
 	border-bottom-left-radius: 10px;
 	border-bottom-right-radius: 10px;
 }

 .card-header {
     border-bottom-left-radius: 0;
 	border-bottom-right-radius: 0;
 }

 .card .card-content {
    word-wrap: break-word;
    word-break: normal;
 }

.progress {
    height: 15px;
    border-radius: 0;
}

.progress .determinate {
    background-color: #000000;
}

.row {
    margin-top: 25px;
    margin-bottom: 25px;
}

.card {
    margin: 0;
    background-color:	#e5ba06;
    box-shadow: none;
}

.card .card-content .card-title {
    text-transform: uppercase;
}

.card .card-action {
    text-align: right;
    box-shadow: inset 0 0 0 0 #31302B;
        border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
}

.toast {
    cursor: pointer;
    border-radius: 10px;
}

.popover[class*=tour-] {
    z-index: 500;
}

.popover .end-tour-button {
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: all ease 2s;
	-moz-transition: all ease 2s;
	transition: all ease 2s;
    border-radius: 10px;
    width: 100%;
}

.popover .end-tour-button:hover {
    box-shadow: inset 600px 0 0 0 #e5ba06;
    color: #282828!important;
    background-color: #ffffff!important;
}

.popover button{
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: all ease 0.4s;
	-moz-transition: all ease 0.4s;
	transition: all ease 0.4s;
    border-radius: 10px;
    width: 50%;
}

.popover button:hover {
    box-shadow: inset 600px 0 0 0 #e5ba06;
    color: #282828!important;
    background-color: #ffffff!important;
}

.card-action button {
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: all ease 2s;
	-moz-transition: all ease 2s;
	transition: all ease 2s;
    border-radius: 10px;
    width: 100%;
}

#submit-btn-modal-row, .card-action #submit-btn-modal, #submit-btn-test-modal-row, .card-action #subit-btn-test-modal {
    display: none;
}

.card-action #submit-btn-modal:hover {
    box-shadow: inset 400px 0 0 0 #e0e0e0;
}

.card-action button:hover {
    box-shadow: inset 600px 0 0 0 #e0e0e0;
    color: #282828!important;
    background-color: #ffffff!important;
    border: 2px solid #e0e0e0;
} 

.card .card-difficulty {
    height: auto;
}

.card-d {
    text-align: center;
    padding: 12.5px;
    cursor: pointer;
}

.introduction-para {
    margin-top: 22px;
}

.hoverable {
    -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.hoverable:hover {
    -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
     transform: scale(1.1, 1.1);
}

@media only screen and (min-width : 601px) and (max-width : 1260px) {
    .toast {
    width: 100%;
    height: 100%;
    border-radius: 0;
    } 
}

@media only screen and (min-width : 1261px) {
    .toast {
    width: 100%;
    height: 100%;
    border-radius: 0; 
    } 
}

@media only screen and (min-width : 601px) and (max-width : 1260px) {
    #toast-container {
    min-width: 100%;
    bottom: 0%;
    top: 90%;
    right: 0%;
    left: 0%;
    } 
}

@media only screen and (min-width : 1261px) {
    #toast-container {
    min-width: 100%;
    bottom: 0%;
    top: 90%;
    right: 0%;
    left: 0%; 
    } 
}



.binary-row {
    height: 750px;
}

.binary-row-container {
    height: 100%;
}

.binary-row .s12, .binary-row .m12,.binary-row .l12 {
    height: 21%;
    margin: auto 0;
}

.binary-row .s12:first-child, .binary-row .m12:first-child,.binary-row .l12:first-child {
    height: auto;
}

.binary-row .s12:last-child, .binary-row .m12:last-child,.binary-row .l12:last-child {
    height: auto;
}

.binary-row .card {
    background-color: #e0e0e0; 
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px 0;
    -moz-box-shadow: inset 0 0 40px RGBA(0, 0, 0, 0.2);
   -webkit-box-shadow: inset 0 0 40px RGBA(0, 0, 0, 0.2);
   box-shadow: inset 0 0 40px RGBA(0, 0, 0, 0.2);
   -webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.binary-row .card:hover {
    -moz-box-shadow: inset 200px 0 0 0 #000000;
   -webkit-box-shadow: inset 200px 0 0 0 #000000;
    box-shadow: inset 200px 0 0 0 #e5ba06;
    color: #282828!important;
    background-color: #ffffff!important;
}

.binary-row .equals:hover {
    -moz-box-shadow: inset 0 0 80px #e5ba06;
   -webkit-box-shadow: inset 0 0 80px #e5ba06;
   box-shadow: inset 0 0 80px #e5ba06;
   background-color: #e0e0e0; 
   cursor: default;
}

.binary-row .equals .material-icons{
    transform: rotate(90deg);
    vertical-align: middle;
}

.binary-row .card .card-content {
    padding: 0;
}

.card.active {
    -moz-box-shadow: inset 200px 0 0 0 #000000;
   -webkit-box-shadow: inset 200px 0 0 0 #000000;
    box-shadow: inset 200px 0 0 0 #e5ba06;
    color: #282828!important;
    background-color: #ffffff!important;
}