<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/Binary_Logo_Square_Black.ico">
    <script src="scripts/jquery/jquery-3.0.0.js"></script>
    <script src="scripts/jquery/jquery-ui.js"></script>
    <script src="scripts/angular/angular.js"></script>
    <script src="scripts/angular/angular-route.js"></script>
    <script src="scripts/angular/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/js/bootstrap-tour-standalone.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour-standalone.min.css" />
    <link rel="stylesheet" type="text/css" href="css/jqueryui/jquery-ui.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/materialize/materialize.css" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="css/site.css" />
    <title>Binary Course</title>
</head>

<body ng-app="binaryCourseApplication" ng-controller="indexController">
    <nav>
        <div class="nav-wrapper">
            <a href="" ng-click="changeView()" class="navbar-brand"><img alt="Brand" src="images/Binary_Logo_Rectangle_Black.svg"></a>
            <ul class="right">
                <li><a href="" ng-click="changeView('/Help')"><i class="material-icons right">help_outline</i><b>Help</b></a></li>
                <li><a href="" ng-click="openModal()"><i class="material-icons right">add_circle_outline</i><b>Take New Test</b></a></li>
            </ul>
            <div class="progress">
                <div class="determinate" style="width: 100%"></div>
            </div>
        </div>
    </nav>

    <div class="page-spacer view" ng-view>

    </div>
    <div id="optionsModal" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="col s6 l4 offset-l1">
                    <div class="card hoverable card-d" id="easyDifficultyModal" ng-click="updateDifficultyModal('easy'); clickSound();">
                        <div class="row black-text"><b>Refresh Your Memory</b></div>
                        <div class="card-content card-difficulty black-text">
                            <i class="large material-icons">help_outline</i>
                        </div>
                    </div>
                </div>
                <div class="col s6 l4 offset-l2">
                    <div class="card hoverable card-d" id="mediumDifficultyModal" ng-click="updateDifficultyModal('medium'); clickSound();">
                        <div class="row black-text"><b>Take A Test</b></div>
                        <div class="card-content card-difficulty black-text">
                            <i class="large material-icons">error_outline</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="submit-btn-modal-row">
                <div class="col s12 m8 offset-m2 l6 offset-l3 xl4 offset-xl4 card-action">
                    <button href="" id="submit-btn-modal" ng-click="dismiss(); changeView('/BinaryTest');" class="waves-effect waves-light btn-large grey darken-2 white-text"
                        disabled><i class="material-icons right">arrow_forward</i><b>Continue</b></button>
                </div>
            </div>
            <div class="row" id="submit-btn-test-modal-row">
                <div class="col s12 m8 offset-m2 l6 offset-l3 xl4 offset-xl4 card-action">
                    <button href="" id="submit-btn-test-modal" ng-click="dismiss(); changeView('/BinaryTakeTest');" class="waves-effect waves-light btn-large grey darken-2 white-text"
                        disabled><i class="material-icons right">arrow_forward</i><b>Continue</b></button>
                </div>
            </div>
        </div>
    </div>
</body>


<script type="text/javascript" src="scripts/app.js"></script>
<script type="text/javascript" src="scripts/services/data-context.js"></script>
<script type="text/javascript" src="scripts/services/toast-notifications.js"></script>
<script type="text/javascript" src="scripts/materialize/materialize.js"></script>
<script type="text/javascript" src="scripts/controllers/indexController.js"></script>
<script type="text/javascript" src="scripts/controllers/homeController.js"></script>
<script type="text/javascript" src="scripts/controllers/binaryTestController.js"></script>
<script type="text/javascript" src="scripts/controllers/binaryTakeTestController.js"></script>
<script type="text/javascript" src="scripts/controllers/helpController.js"></script>
<script type="text/javascript" src="scripts/controllers/createChatController.js"></script>

</html>