<div class="row">
    <form class="col s12">
      	<div class="row">
        	<div class="input-field col s6">
          		<input placeholder="Please enter a dummy customer name" ng-model="chat.Customer" id="user_name" type="text" class="validate active">
          		<label for="user_name">Customer Name</label>
        	</div>
        	<div class="input-field col s6">
          		<input placeholder="Please enter a dummy tacking number" ng-model="chat.Tracking" id="tracking_number" type="text" class="validate active">
          		<label for="tracking_number">Tracking Number</label>
        	</div>
      	</div>
      	<div class="row valign-wrapper">
        	<div class="input-field col s11">
	          	<textarea id="message" ng-model="newResponse" type="text" class="materialize-textarea"></textarea>
	          	<label for="message">Add Chat Response</label>
	        </div>
	        <a class="btn-floating btn-large waves-effect waves-light green valign" ng-click="addResponse(newResponse)"><i class="material-icons">add</i></a>
      	</div>
    </form>
</div>
<div class="row">
	<div class="col s12" ng-repeat="response in chat.Responses">
		<div class="card hoverable brand-colour col s4 white-text">
			<div class="card-content">
		  	{{response}}
		  	</div>
		</div>
	</div>
</div>
