<div class="row binary-row tooltipped" data-position="bottom" data-delay="50" data-tooltip="Reminder: Click the boxes to switch their value!">
    <div class="col s10 m10 l10 offset-s1 offset-m1 offset-l1 binary-row-container">
        <div class="col s12 m12 l12">
            <!-- Column Headers -->
            <div class="col s1 m1 l1 offset-s1 offset-m1 offset-l1">
                <div class="flow-text center-align">
                    128
                </div>
            </div>
            <div class="col s1 m1 l1">
                <div class="flow-text center-align">
                    64
                </div>
            </div>
            <div class="col s1 m1 l1" id="tour-column-bottom-inputs">
                <div class="flow-text center-align">
                    32
                </div>
            </div>
            <div class="col s1 m1 l1">
                <div class="flow-text center-align">
                    16
                </div>
            </div>
            <div class="col s1 m1 l1" id="tour-column-headers">
                <div class="flow-text center-align">
                    8
                </div>
            </div>
            <div class="col s1 m1 l1">
                <div class="flow-text center-align">
                    4
                </div>
            </div>
            <div class="col s1 m1 l1">
                <div class="flow-text center-align">
                    2
                </div>
            </div>
            <div class="col s1 m1 l1">
                <div class="flow-text center-align">
                    1
                </div>
            </div>
            <div class="col s1 m1 l1">
                <div class="flow-text center-align">

                </div>
            </div>
            <div class="col s1 m1 l1">
                <div class="flow-text center-align">
                    Result
                </div>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <!--Binary Digit Inputs-->
            <div class="col s1 m1 l1 verticle-align-card-container">
                <div class="flow-text right-align verticle-align-card">
                    <h5><b>1:</b></h5>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row1digit8 = !row1digit8; updateRowSummary('row1'); switchSound();" id="tour-column-first-input">
                <div class="card card-header" ng-class="{'active' : row1digit8}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row1digit8">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row1digit8">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row1digit7 = !row1digit7; updateRowSummary('row1'); switchSound();">
                <div class="card card-header" ng-class="{'active' : row1digit7}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row1digit7">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row1digit7">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row1digit6 = !row1digit6; updateRowSummary('row1');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row1digit6}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row1digit6">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row1digit6">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row1digit5 = !row1digit5; updateRowSummary('row1');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row1digit5}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row1digit5">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row1digit5">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row1digit4 = !row1digit4; updateRowSummary('row1');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row1digit4}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row1digit4">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row1digit4">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row1digit3 = !row1digit3; updateRowSummary('row1');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row1digit3}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row1digit3">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row1digit3">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row1digit2 = !row1digit2; updateRowSummary('row1');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row1digit2}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row1digit2">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row1digit2">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row1digit1 = !row1digit1; updateRowSummary('row1');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row1digit1}">
                    <div class="card-content black-text flow-text">
                        <div ng-if="!row1digit1">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row1digit1">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1">
                <div class="card card-header equals">
                    <div class="card-content flow-text black-text">
                        <i class="material-icons">pause</i>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Modify the bits of the byte to get the expected result!"
                id="tour-column-summary">
                <div class="card card-header equals">
                    <div class="card-content flow-text black-text">
                        {{row1ExpectedAnswer}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <!--Binary Digit Inputs-->
            <div class="col s1 m1 l1 verticle-align-card-container">
                <div class="flow-text right-align verticle-align-card">
                    <h5><b>2:</b></h5>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row2digit8 = !row2digit8; updateRowSummary('row2');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row2digit8}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row2digit8">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row2digit8">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row2digit7 = !row2digit7; updateRowSummary('row2');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row2digit7}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row2digit7">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row2digit7">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row2digit6 = !row2digit6; updateRowSummary('row2');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row2digit6}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row2digit6">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row2digit6">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row2digit5 = !row2digit5; updateRowSummary('row2');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row2digit5}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row2digit5">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row2digit5">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row2digit4 = !row2digit4; updateRowSummary('row2');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row2digit4}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row2digit4">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row2digit4">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row2digit3 = !row2digit3; updateRowSummary('row2');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row2digit3}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row2digit3">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row2digit3">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row2digit2 = !row2digit2; updateRowSummary('row2');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row2digit2}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row2digit2">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row2digit2">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row2digit1 = !row2digit1; updateRowSummary('row2');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row2digit1}">
                    <div class="card-content black-text flow-text">
                        <div ng-if="!row2digit1">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row2digit1">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1">
                <div class="card card-header equals">
                    <div class="card-content flow-text black-text">
                        <i class="material-icons">pause</i>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Modify the bits of the byte to get the expected result!">
                <div class="card card-header equals">
                    <div class="card-content flow-text black-text">
                        {{row2ExpectedAnswer}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <!--Binary Digit Inputs-->
            <div class="col s1 m1 l1 verticle-align-card-container">
                <div class="flow-text right-align verticle-align-card">
                    <h5><b>3:</b></h5>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row3digit8 = !row3digit8; updateRowSummary('row3');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row3digit8}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row3digit8">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row3digit8">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row3digit7 = !row3digit7; updateRowSummary('row3');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row3digit7}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row3digit7">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row3digit7">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row3digit6 = !row3digit6; updateRowSummary('row3');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row3digit6}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row3digit6">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row3digit6">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row3digit5 = !row3digit5; updateRowSummary('row3');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row3digit5}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row3digit5">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row3digit5">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row3digit4 = !row3digit4; updateRowSummary('row3');  switchSound();" id="tour-column-inputs">
                <div class="card card-header" ng-class="{'active' : row3digit4}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row3digit4">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row3digit4">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row3digit3 = !row3digit3; updateRowSummary('row3');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row3digit3}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row3digit3">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row3digit3">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row3digit2 = !row3digit2; updateRowSummary('row3');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row3digit2}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row3digit2">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row3digit2">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row3digit1 = !row3digit1; updateRowSummary('row3');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row3digit1}">
                    <div class="card-content black-text flow-text">
                        <div ng-if="!row3digit1">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row3digit1">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1">
                <div class="card card-header equals">
                    <div class="card-content flow-text black-text">
                        <i class="material-icons">pause</i>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Modify the bits of the byte to get the expected result!">
                <div class="card card-header equals">
                    <div class="card-content flow-text black-text">
                        {{row3ExpectedAnswer}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <!--Binary Digit Inputs-->
            <div class="col s1 m1 l1 verticle-align-card-container">
                <div class="flow-text right-align verticle-align-card">
                    <h5><b>4:</b></h5>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row4digit8 = !row4digit8; updateRowSummary('row4');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row4digit8}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row4digit8">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row4digit8">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row4digit7 = !row4digit7; updateRowSummary('row4');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row4digit7}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row4digit7">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row4digit7">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row4digit6 = !row4digit6; updateRowSummary('row4');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row4digit6}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row4digit6">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row4digit6">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row4digit5 = !row4digit5; updateRowSummary('row4');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row4digit5}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row4digit5">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row4digit5">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row4digit4 = !row4digit4; updateRowSummary('row4');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row4digit4}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row4digit4">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row4digit4">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row4digit3 = !row4digit3; updateRowSummary('row4');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row4digit3}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row4digit3">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row4digit3">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row4digit2 = !row4digit2; updateRowSummary('row4');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row4digit2}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row4digit2">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row4digit2">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row4digit1 = !row4digit1; updateRowSummary('row4');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row4digit1}">
                    <div class="card-content black-text flow-text">
                        <div ng-if="!row4digit1">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row4digit1">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1">
                <div class="card card-header equals">
                    <div class="card-content flow-text black-text">
                        <i class="material-icons">pause</i>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Modify the bits of the byte to get the expected result!">
                <div class="card card-header equals">
                    <div class="card-content flow-text black-text">
                        {{row4ExpectedAnswer}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <!--Binary Digit Inputs-->
            <div class="col s1 m1 l1 verticle-align-card-container">
                <div class="flow-text right-align verticle-align-card">
                    <h5><b>5:</b></h5>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row5digit8 = !row5digit8; updateRowSummary('row5');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row5digit8}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row5digit8">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row5digit8">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row5digit7 = !row5digit7; updateRowSummary('row5');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row5digit7}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row5digit7">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row5digit7">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row5digit6 = !row5digit6; updateRowSummary('row5');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row5digit6}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row5digit6">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row5digit6">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row5digit5 = !row5digit5; updateRowSummary('row5');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row5digit5}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row5digit5">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row5digit5">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row5digit4 = !row5digit4; updateRowSummary('row5');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row5digit4}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row5digit4">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row5digit4">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row5digit3 = !row5digit3; updateRowSummary('row5');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row5digit3}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row5digit3">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row5digit3">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row5digit2 = !row5digit2; updateRowSummary('row5');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row5digit2}">
                    <div class="card-content flow-text black-text">
                        <div ng-if="!row5digit2">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row5digit2">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1" ng-click="row5digit1 = !row5digit1; updateRowSummary('row5');  switchSound();">
                <div class="card card-header" ng-class="{'active' : row5digit1}">
                    <div class="card-content black-text flow-text">
                        <div ng-if="!row5digit1">
                            <span><b>0</b></span>
                        </div>
                        <div ng-if="row5digit1">
                            <span><b>1</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1">
                <div class="card card-header equals">
                    <div class="card-content flow-text black-text">
                        <i class="material-icons">pause</i>
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Modify the bits of the byte to get the expected result!">
                <div class="card card-header equals">
                    <div class="card-content flow-text black-text">
                        {{row5ExpectedAnswer}}
                    </div>
                </div>
            </div>
            <div class="col s1 m1 l1">
                <a href="" class="submit-brand btn-large darken-2 white-text" ng-click="checkAnswers()"><b>Submit</b></a>
            </div>
        </div>
    </div>
</div>

<div id="correctAnswersModal" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12 l12">
                <div class="card card-header round-card">
                    <div class="card-content black-text no-padding">
                        <div class="card-title">
                            <h4 class="center-align card-title-padding"><b>You got {{correct}}/5!</b></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row star-row">
            <div class="col s12 l12">
                <div class="col s1 m1 hidden">
                    <i class="fa fa-star fa-3x" aria-hidden="true"></i>
                </div>
                <div class="col s2 m2 star-holder" ng-repeat="star in correctArray">
                    <i class="fa fa-star fa-3x" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3 xl4 offset-xl4 card-action">
                <button href="" ng-click="dismissAnswersModal(); changeView('/DecimalTakeTest'); clickSound();" class="waves-effect waves-light btn-large grey darken-2 white-text">
                <i class="material-icons right">arrow_forward</i><b>Try Another</b>
                </button>
            </div>
        </div>
    </div>
</div>