<div class="no-bottom-margin row">
    <div class="col s12 m12">
        <div class="card card-header">
            <div class="card-content black-text small-padding">
                <div class="card-title">
                    <h3 class="center-align"><b>Lets Get Started!</b></h3>
                </div>
                <div class="col s12 m10 offset-m1 introduction-para">
                    <div class="row">
                        <div class="image-placeholder-container">
                            <div class="image-placeholder"></div>
                        </div>
                    </div>
                    <div class="row">
                        <b>
					  	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
					  </b>
                    </div>
                    <div class="row">
                        <b>
			      		Donec rutrum congue leo eget malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
					  </b>
                    </div>
                    <div class="row">
                        <b>
			      		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
				      </b>
                    </div>
                    <div class="row">
                        <b>
			      		Donec rutrum congue leo eget malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
					  </b>
                    </div>
                </div>
                <div class="col s12 m8 offset-m2 l6 offset-l3 xl4 offset-xl4 card-action">
                    <button href="#optionsModal" id="submit-btn" class="modal-trigger waves-effect waves-light btn-large grey darken-2 white-text">
						<i class="material-icons right">arrow_forward</i>
						<b>Practicals</b>
					</button>
                </div>
            </div>
        </div>
    </div>
</div>