<div id="hero">
	<div class="overlay">
		<div class="header">
			<h1>Binary Course</h1>
		</div>
		<div class="hero-description">
			You won't need all of those keys on your keyboard for this.
		</div>
		<div class="hero-description-two">
			And after you've finished, you might only want 2 of them back!
		</div>
		<div class="hero-continue-container">
			<a href="" ng-click="changeView('/Help')" id="submit-btn" class="waves-effect waves-light btn-large grey darken-2">
				<i class="material-icons right">arrow_forward</i>
				<b>Continue</b>
			</a>
		</div>
	</div>
</div>